*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212 ;
    margin: auto;
}

.cover{
    max-width: 500px;
    text-align: center;
    background-color: aquamarine;
    height: 600px;
    margin: 40px auto;
    padding: 50px 0;
}

p{
    font-weight: bold;
    margin: 10px;
    padding-bottom: 5px;
}

button{
    margin: 20px 5px;
    padding: 5px 10px;
    text-transform: capitalize;
    
}